body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    --title-bar-height: 42px;
    padding-top: var(--title-bar-height);
    margin: 0;
    padding: 0;
}

pear-ctrl[data-platform=darwin] {
    margin-bottom: 18px;
}

header {
    background: rgba(55, 60, 72, 0.6);
    backdrop-filter: blur(64px);
    height: var(--title-bar-height);
    padding: 0;
    color: #FFF;
    white-space: nowrap;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: #0c94ef;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav a.active {
    border-bottom: 2px solid #0c94ef;
}

.container {
    margin-top: 40px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

input, button {
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #B0D944;
    color: #282c34;
    cursor: pointer;
}

#main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-content h2 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #ffffff;
}

#main-content p {
    font-size: 16px;
    margin-bottom: 10px;
    width: 70%;
}

#main-content ul {
    margin-left: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
}

#main-content li {
    margin-bottom: 5px;
    width: 150px;
    height: 100px;
    background-color: #757f96;
    border-radius: 10px;
    padding: 10px;
}

#section-profile  {
    position: relative;
}

.profile-header {
    display: flex;
    position: relative;
    background-image: url("./assets/profilebg.jpg");
    padding: 40px;
    text-align: center;
    border-bottom: 3px solid #ff5757;
}

.profile-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.profile-header p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 20px;
}

.edit-btn {
    background: #ff5757;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.profile-container {
    display: flex;
    max-width: 900px;
    margin: auto;
    background: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 87, 87, 0.5);
}

.profile-nav {
    position: relative;
    width: 200px;
    background: #191919;
    padding: 10px;
    border-radius: 5px;
}

.profile-nav h4 {
    position: absolute;
    top: -35px;
    left: 20%;
    font-size: 20px;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #5cae59;
}

.profile-nav div {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.profile-nav button {
    background: none;
    border: none;
    padding: 12px;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: white;
    transition: 0.3s;
    border-left: 5px solid transparent;
}

.profile-nav button:hover, .profile-nav button.active {
    background: #ff5757;
    border-left: 5px solid white;
    font-weight: bold;
}

.profile-content {
    flex: 1;
    padding-left: 20px;
    color: white;
}

.account-details, .personal-info {
    background: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.detail-item label {
    font-weight: bold;
    color: #ff5757;
}

#edit-profile-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.form-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-input input, .form-input textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #32b13f;
    background: transparent;
}

.lobby-content, .game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #282c34;
    color: #ffffff;
}

.chat-box {
    display: none;
    width: 100%;
    max-width: 400px;
    background: #222;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

#chat-messages {
    width: 90%;
    margin: 5px auto;
    height: 100px;
    overflow-y: auto;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-input {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    display: inline-block;
}

#send-chat {
    width: 25%;
    padding: 8px;
    border-radius: 5px;
    background: #32b13f;
    color: white;
    cursor: pointer;
    display: inline-block;
}
